$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";


$redColor: #d32f2e;
$blackColor:#282828;
$greyColor: #f3f3f3;
$whiteColor: #fff;

$blueColor: #9cc449;
$greenColor:#698433;


$float-left: left;
$float-right: right;

$text-right: right;
$text-left: left;
